
@{
    ViewData["Title"] = "Sell Ticket";
}

<h1 class="text-center text-danger">Sell Ticket to Customer</h1>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />

<form asp-action="SellTicket">
    <p class="form-group text-center">
        <div asp-validation-summary="All" class="text-danger"></div>
        Enter the customer's email address: <input name="customer" class="form-control" type="email" /><br />
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </p>
</form>