
.vs/FinalProjectWorkspace/xs/UserPrefs.xml
*.xml
*.cache
FinalProjectWorkspace/.DS_Store
*.xml
FinalProjectWorkspace/wwwroot/.DS_Store
.vs/FinalProjectWorkspace/xs/UserPrefs.xml
FinalProjectWorkspace/obj/Debug/netcoreapp3.1/FinalProjectWorkspace.csprojAssemblyReference.cache
.vs/FinalProjectWorkspace/xs/UserPrefs.xml
FinalProjectWorkspace/obj/Debug/netcoreapp3.1/FinalProjectWorkspace.csproj.CoreCompileInputs.cache
FinalProjectWorkspace/obj/Debug/netcoreapp3.1/FinalProjectWorkspace.pdb
FinalProjectWorkspace/obj/Debug/netcoreapp3.1/FinalProjectWorkspace.Views.dll
.vs/FinalProjectWorkspace/xs/UserPrefs.xml
