@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

    <br />
<h1 class="text-center text-danger">Change Password</h1>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />
<div class="text-center">
    <div class="text-center">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
                {
                    <div class="form-group">
                        <label class="control-label text-danger">Since you are a employee, you do not need to enter the current password.</label>
                        <input readonly asp-for="OldPassword" class="form-control" value="managerpasswordreset" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>

                    </div>
                }

                else
                {
                    <div class="form-group">
                        <label asp-for="OldPassword" class="control-label"></label>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Change Password" class="btn btn-outline-danger" />
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
            </div>
        </form>
    </div>
</div>
