@model FinalProjectWorkspace.Models.SearchViewModel

@{ ViewData["Title"] = "Detailed Search"; }


    <br />
<h1 class="text-center text-danger">Detailed Search</h1>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />

<div class="text-center">
    <div class="text-center">
        <form asp-action="DisplaySearchResults">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedTitle" class="control-label"></label>
                <input asp-for="SelectedTitle" class="form-control" />
                <span asp-validation-for="SelectedTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedTagline" class="control-label"></label>
                <input asp-for="SelectedTagline" class="form-control" />
                <span asp-validation-for="SelectedTagline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedActor" class="control-label"></label>
                <input asp-for="SelectedActor" class="form-control" />
                <span asp-validation-for="SelectedActor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedYear" class="control-label"></label>
                <input asp-for="SelectedYear" class="form-control" />
                <span asp-validation-for="SelectedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGenreID" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedGenreID, (SelectList)ViewBag.AllGenres, new { @class = "form-control" })
                <span asp-validation-for="SelectedGenreID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedMPAARating" class="control-label"></label>
                @Html.DropDownListFor(model => model.SelectedMPAARating, (SelectList)ViewBag.AllMPAARatings, new { @class = "form-control" })
                <span asp-validation-for="SelectedMPAARating" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="SelectedCustomerRating" class="control-label"></label>
                <input asp-for="SelectedCustomerRating" class="form-control" />
                <span asp-validation-for="SelectedCustomerRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSearchType" class="control-label"></label>&nbsp;
                <label class="radio">
                    @Html.RadioButtonFor(model => model.SelectedSearchType, AllSearchTypes.GreaterThan) Greater than &nbsp; &nbsp;
                </label>
                <label class="radio">
                    @Html.RadioButtonFor(model => model.SelectedSearchType, AllSearchTypes.LessThan) Less than
                </label>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="SelectedShowingDate" class="control-label"></label>
                <input asp-for="SelectedShowingDate" class="form-control" />
                <span asp-validation-for="SelectedShowingDate" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <label asp-for="StartingShowingDate" class="control-label"></label>
                <input asp-for="StartingShowingDate" class="form-control" />
                <span asp-validation-for="StartingShowingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingShowingDate" class="control-label"></label>
                <input asp-for="EndingShowingDate" class="form-control" />
                <span asp-validation-for="EndingShowingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-outline-success" />
                <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Return to Home Page</a>
            </div>
        </form>
    </div>
</div>

