@model IEnumerable<FinalProjectWorkspace.Models.Ticket>

@{
    ViewData["Title"] = "Report Index";
}

    <br />
<h1 class="text-center text-danger">Report Index</h1>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />

<p class="text-center">
    <a class="btn btn-outline-primary" asp-action="ReportSearch">Create Report</a>
</p>

