<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cf7e3b85-2870-4171-8f41-0b8373da9649/resourceGroups/finalproject/providers/Microsoft.Web/sites/finalprojectteam17</ResourceId>
    <ResourceGroup>finalproject</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://finalprojectteam17.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>finalprojectteam17.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>finalprojectteam17</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$finalprojectteam17</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>