@model FinalProjectWorkspace.Models.Order

@{
    ViewData["Title"] = "OrderCheckout";
}

    <br />
<h1 class="text-center text-danger">Order Checkout</h1>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />


<h4>Order</h4>
<hr />
<div class="text-center">
    <div class="text-center">
        <form asp-action="OrderTotals" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderID" class="control-label"></label>
                <input asp-for="OrderID" class="form-control" />
                <span asp-validation-for="OrderID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionNumber" class="control-label"></label>
                <input asp-for="TransactionNumber" class="form-control" />
                <span asp-validation-for="TransactionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderSubtotal" class="control-label"></label>
                <input asp-for="OrderSubtotal" class="form-control" />
                <span asp-validation-for="OrderSubtotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxes" class="control-label"></label>
                <input asp-for="Taxes" class="form-control" />
                <span asp-validation-for="Taxes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotal" class="control-label"></label>
                <input asp-for="OrderTotal" class="form-control" />
                <span asp-validation-for="OrderTotal" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OrderStatus" /> @Html.DisplayNameFor(model => model.OrderStatus)
                </label>
            </div>
            <div class="text-center form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
